main {
background-color: #cfd0d3;
flex-flow: column-reverse;
}

.right{
padding-left: 90px;
font-size: large;
}

.right1{
padding-left: 90px;
font-size: large;
}

.right2{
padding-left: 90px;
font-size: large;
}

.right3{
padding-left: 90px;
font-size: large;
}

.right4{
padding-left: 90px;
font-size: large;
}

.right5{
padding-left: 90px;
font-size: large;
}

