* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

#footer {
  background-color: #973441;
  color: white;
  padding: 1.5rem 1rem;
  width: 100vw;
  height: 120px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

}

#footer .container div.col{
    position: absolute;
    padding-left: 40;
    font-size: larger;
    word-spacing: 12px;

}

#footer .container div.col a{
    color: aliceblue;
    font-size: large;
    justify-content: space-between;
    letter-spacing: 5px;
}

#footer .container div.dm{
    position: relative;
    padding-left: 1100;
    top: -43px;
    font-size: larger;

}

#footer .container div.dm a{
    color: aliceblue;
    font-size: large;
    letter-spacing: 5px;
}

#footer .container div.sm{
    position: relative;
    padding-left: 600;
    font-size: larger;
    word-spacing: 12px;
}

#footer .container div.sm a{
    color: aliceblue;
    font-size: large;
    letter-spacing: 5px;
}

#footer p {
    padding-left: 500;
    
}