body {
background-color: #e1e2e4;
flex-flow: column-reverse;
}

#welcome {
background-image: image("image/");
color:burlywood;
padding-left: 90px;
font-size: large;
}

.div1{
padding-left: 90px;
font-size: large;
}

.div2{
padding-left: 90px;
font-size: large;
}

.div3{
padding-left: 90px;
font-size: large;
}

.div4{
padding-left: 90px;
font-size: large;
}