main {
background-color: #e1e2e4;
flex-flow: column-reverse;
background-image: image('image/Francis.JPG');
}

#welcome {
background-image: image("image/");
color:burlywood;
padding-left: 90px;
font-size: large;
}

.right{
padding-left: 90px;
font-size: large;
}

.right1{
padding-left: 90px;
font-size: large;
}

.right2{
padding-left: 90px;
font-size: large;
}

.right3{
padding-left: 90px;
font-size: large;
}

.right4{
padding-left: 90px;
font-size: large;
}

.right5{
padding-left: 90px;
font-size: large;
}

    
    